* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f6f8f9;
    color: black;
}

/* header css start  */

.hd-ctn {
    height: 80px;
    background-color: #fff;
    padding: 20px 0 20px 20px;
}

.hd-ctn h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 4rem;
}

.logo {
    vertical-align: middle;
}

/* header css ends  */

/* main overall rules  */

main {
    max-width: 50%;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 50px;
    border: 1px solid #fff;
    border-radius: 5px;
}

/* main overall rules end  */

/* button container section css  */

.btn-ctn {
    width: 100%;
    height: 60px;
    border-bottom: 3px solid #f6f8f9;
    padding: 15px 0;
}

.btn {
    font-size: 1.2rem;
    padding: 6px;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    cursor: pointer;
    background-color: salmon;
    border: transparent;
    transform: translateY(-6px);
    transition: ease .40s;
}

.cta-left {
    background-color: #46adf1;
    color: #fff;
    border: 2px solid #46adf1;
    width: 80px;
    margin: 0 8px 0 40px;
}

.cta-right {
    background-color: transparent;
    color: #cfd4d8;
    border: 2px solid #ced3d7;
    width: 95px;
}

/* button section css end  */

/* Reusable Css Rules  */

section {
    padding: 0 40px;
    margin-bottom: 20px;
}

section ul {
    display: inline-block;
}

section ul li  {
    list-style-type: none;
    font-size: 1.8rem;
    font-weight: 500;
    margin: 10px 0 20px;
    vertical-align: middle;
}

section ul li::before {
    content: "\2713";
    border: 1px solid #8dd2c3;
    border-radius: 50%;
    padding: 0 3px;
    margin: 0 8px 0 0;
    color: #8dd2c3;
    font-size: 1.6rem;
    font-weight: bold;
    vertical-align: middle;
}

.cross::before {
    content: "\2715";
    border: 1px solid #ef807c;
    border-radius: 50%;
    padding: 0 3px;
    margin: 0 8px 0 0;
    color: #ef807c;
    font-size: 1.6rem;
    font-weight: bold;
    vertical-align: middle;
}

.arrow-down {
    font-size: 1.6rem;
}

h2 {
    font-size: 2.6rem;
}

.colored-tag {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    color: #fff;
    margin-left: 5px;
    padding: 6px 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    vertical-align: middle;
}

/* Reusable Css Rules  end */

/* new task section css  */

.first-section {
    margin-top: 40px;
}

.blue-tag {
    background-color: #45abea;
}

/* new task section css  ends*/

/* today section css  */

.purple-tag {
    background-color: #a27be5;
}

.lgreen-tag {
    background-color: #64c0a9;
}

.orange-tag {
    background-color: #f5ba6b;
}

/* /today section css ends  */

/* upcoming section stars  */

.third-section {
    margin-bottom: 40px;
}

.magenta-tag {
    background-color: #d863a1;
}

.green-tag {
    background-color: #aec721;
}

/* upcoming section ends  */


